# 리스트
하나의 변수에 여러개의 데이터를 저장하는 자료형

In [2]:
li = [1, 2, 3, 4]
li

[1, 2, 3, 4]

빈 리스트 만들기

In [ ]:
a = []
a = list()

range()를 사용하여 리스트 만들기

list도 인덱싱 사용가능

list의 항목을 문자열로 입력가능

In [3]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
li[3] = 9
li

[1, 2, 3, 9]

### 리스트는 각 항목의 데이터 타입이 같지 않아도 됨
가장 자유로운 형태의 자료구조

In [7]:
mixed = ['somin',2019,True,li] # 리스트 안의 리스트 가능
mixed

['somin', 2019, True, [1, 2, 3, 9]]

### 리스트 더하기와 곱하기
* 더하기 : 두 리스트 연결

* 곱하기 : 리스트를 곱한 수 만큼 반복

In [10]:
li_1 = [1,2,3,4]
li_2 = list(range(10,41,10))

li_1 + li_2 # 리스트 연결

[1, 2, 3, 4, 10, 20, 30, 40]

In [12]:
li_1 * 3 # 리스트 반복

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### 리스트 슬라이싱
* 증가분 슬라이싱 list[start_index: end_index: step]

In [3]:
a = list(range(0,100,10))
print(a)
a[0:10:2]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

[0, 20, 40, 60, 80]

In [5]:
a[-1:-8:-2]

[90, 70, 50, 30]

In [6]:
a[::2] # 증가분 표현

[0, 20, 40, 60, 80]

In [7]:
# len() 함수 이용
a[:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [1]:
# 문자열도 증가분 슬라이싱 가능
a = '1234567890'
a[1:10:2]

'24680'

### 리스트 함수 활용
* .append() : 리스트에서 항목 하나를 맨 마지막에 추가
 
* .insert() : 리스트에서 특정 위치에 항목을 삽입

* .extend() : 리스트에서 항목 여러 개를 맨 마지막에 추가

* .remove() : 입력값과 첫 번째로 일치하는 항목을 리스트에서 삭제

* .pop() : 리스트의 마지막 항목을 제거한 후에 반환

* .index() : 리스트에서 인자와 일치하는 첫 번째 항목의 위치를 반환

* .count() : 리스트에서 인자와 일치하는 항목의 개수를 반환

* .sort() : 숫자나 문자열로 구성된 리스트 항목을 순방향으로 정렬

* .reverse() : 리스트 항목을 끝에서부터 역순으로 정렬

* .clear() : 리스트의 내용을 모두 지움

In [28]:
names = ['a','b','c','d','e','f']

In [29]:
names.append('g')
names

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [30]:
names.insert(1, 'a2') # 1번째 위치에 'a2'추가
names

['a', 'a2', 'b', 'c', 'd', 'e', 'f', 'g']

In [31]:
names.extend(['h','i'])
names

['a', 'a2', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [32]:
names.remove('a2')
names

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [33]:
names.pop()
names

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [34]:
names.index('c')

2

In [35]:
names.count('a')

1

In [36]:
names.insert(3, 'i')
print(names)
names.sort()
print(names)

['a', 'b', 'c', 'i', 'd', 'e', 'f', 'g', 'h']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [37]:
names.reverse()
names

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [38]:
names.clear()
names

[]

## 리스트 다루기 보충

In [51]:
# 리스트에서 항목 삭제 : del list[i]
lis = list(range(0,10))
print(lis)
del lis[6]
print(lis)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [52]:
# 리스트 자체 삭제 : del list
del lis
print(lis) # Error

NameError: name 'lis' is not defined

In [53]:
# 리스트에서 항목 존재 여부 확인

# 항목 in list : 리스트에 항목이 있으면 True, 아니면 False
# 항목 not in list : 리스트에 항목이 없으면 True, 아니면 False

lis = [5,6,7,8,9]
print(6 in lis)
print(10 in lis)
print(6 not in lis)
print(10 not in lis)

True
False
False
True

**zip()** 함수를 사용해 동시에 여러 개 리스트에 접근

In [55]:
subjects = ['Math','Science','English','Korean']
score = ['A','B+','F','A-']

for subjects, score in zip(subjects, score):
    print(subjects, ' : ', score)

Math  :  A
Science  :  B+
English  :  F
Korean  :  A-

## 튜플 만들기

### 튜플(Tuple)
리스트와 유사하게 데이터 여러 개를 하나로 묶는데 이용

* 튜플의 항목은 숫자, 문자열, 불, 리스트, 세트, 딕셔너리 등을 만들 수 있음

* 튜플의 속성은 리스트와 유사

튜플 데이터는 **한번 입력(혹은 생성)**하면 그 이후에는 **항목변경 불가**

In [40]:
# 튜플 생성 (소괄호 이용 or No)

tuple_1 = (1,2,3,4)
print(tuple_1)

tuple_2 = 5,6,7,8
print(tuple_2)

(1, 2, 3, 4)
(5, 6, 7, 8)

In [41]:
# 빈 튜플 생성
a = ()
a = tuple()
a

()

인자가 하나만 있는 tuple의 경우

반드시 **콤마(,)** 필요!

In [42]:
# 인자가 하나만 있는 튜플 생성

tuple_3 = (9,)
print(tuple_3)

tuple_4 = 10,
print(tuple_4)

(9,)
(10,)

In [43]:
# range를 사용하여 리스트와 튜플 만들기
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### 튜플 다루기
한 번 생성한 후에 요소를 **변경할 필요가 없거나 변경 할 수 없도록 할 때** 이용

튜플의 요소를 변경하고자 하는 경우 : Error

### 튜플에서 함수 사용
* .index()

* .count()

인덱스 사용 : 리스트와 동일

In [49]:
print(a.index(3))
print(a.count(3))
print(a[1:-1:2])

3
1
(1, 3, 5, 7)